---
- name: Install required packages
  loop:
    - nfs-kernel-server
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  tags:
    - nfs

- name: Create required dirs
  loop: "{{ nfs_exports }}"
  loop_control:
    label: "{{ item.path }}"
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    owner: root
    group: root
    mode: u=rwx,g=rwx,o=rwx
  tags:
    - nfs

- name: Write export config
  notify:
    - Restart nfs
  ansible.builtin.template:
    src: exports.j2
    dest: /etc/exports
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - nfs

- name: Start nfs service
  ansible.builtin.systemd:
    name: nfs-server
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - nfs

...
